<%- include("templates/encabezado") %>
<h1>Error</h1>
<h1>Tus datos son incorrectos,
    favor de llenar nuevamente el formulario
</h1>
<h5>Como ayudar habilita javascript</h5>
<%- include("templates/pie") %>